@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #dcdcdc;

  &__back {
    color: #fff;
    position: absolute;
    left: 0;
    line-height: 45px;
    font-size: 30px;
  }

  &__share {
    color: #fff;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 45px;
    font-size: 30px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-filter: blur(20px);
      filter: blur(20px);
      background-size: cover;
      background-position: center top;
      margin: -50px;
    }
  }

  &__header {
    height: 45px;
    color: #ffffff;
    z-index: 0;
    position: relative;

    &__content {
      text-align: center;
      height: 100%;
      padding-top: 5px;

      &__title {
        font-size: 16px;
      }

      &__artist {
        font-size: 12px;
      }
    }
  }

  &__content {
    height: calc(~'100% - 45px');
    overflow: hidden;
    position: relative;

    &__panel {
      height: calc(~'100% - 82px');

      &__mask {
        position: relative;
        height: 100%;

        &__needle {
          position: absolute;
          width: 100px;
          height: 150px;
          top: -20px;
          left: calc(~'50% - 20px');
          transform: rotateZ(-25deg);
          z-index: 10;
          transform-origin: 20px 20px;
          transition: transform 0.4s;

          &--playing {
            transform: rotateZ(0deg);
          }
        }

        &__disk {
          height: calc(~'100% - 50px');
          position: relative;

          &__container {
            width: 300px;
            height: 300px;
            position: absolute;
            top: 70px;
            left: calc(~'50% - 150px');
            border-radius: 50%;
            overflow: hidden;
            background-color: rgba(221,221,221,0.1);

            &__animation {
              position: relative;
              width: 100%;
              height: 100%;
            }

            &__disc-item {
              width: 300px;
              height: 300px;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }

            &__cover-item {
              z-index: 0;
              width: 200px;
              height: 200px;
              position: absolute;
              top: 50px;
              left: 50px;
            }
          }
        }

        &__buttons {
          height: 50px;
          display: flex;
          display: -webkit-flex;
          margin: 0 20px;

          & i {
            flex-grow: 1;
            line-height: 50px;
            font-size: 25px;
            color: #fff;
          }
        }
      }
    }

    &__controls {
      &__progress {
        display: flex;
        align-items: center;

        &__time {
          width: 30px;
          margin: 0 12px;
          color: #fff;
          font-size: 12px;
        }

        &__slider {
          flex-grow: 2;
          position: relative;

          & .van-slider__button {
            width: 14px;
            height: 14px;
          }

          & .van-slider__bar {
            background-color: @primary;
          }
        }
      }

      &__buttons {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        background-color: transparent;

        &__item {
          flex-grow: 1;
          color: #fff;
          font-size: 30px;
          min-width: 20%;
        }
      }

      &__play {
        font-size: 60px;
      }
    }
  }
}

.playing {
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.music__loading {
  position: absolute;
  left: -6.5px;
  top: -5.5px;
  width: 13px;
  height: 13px;

  & .van-loading__spinner--spinner {
    color: @primary;
    opacity: 0.5;
  }
}

.van-toast--text {
  min-width: initial;
}
